# RStudio local files
.Rproj.user/
.Rhistory
.RData

# Runtime-generated flow data in repository root
/[0-9]*.csv

# Runtime-generated imputation plots
/*_Imputed_Values.png.DS_Store

.DS_Store
**/.DS_Store
